.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 991.98px) {
	.jumbotron #font-hero {
		order: 2;
	}
	.jumbotron #image-hero {
		order: 1;
	}
  .hero-title {
    font-size: 10px;
  }
}

.jumbotron1 {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;

}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  max-width: 16em;
  margin: 0;
  font-size: 12vh;
  font-weight: bold;
  line-height: .9;
  color: white;
}
.hero-footer {
  display: flex;
}


.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  padding: .5em .67em;
  color: white;
  text-decoration: none;
  border: .1em solid white;

}
  
  .button-primary {
    color: black;
    background-color: white;
  }
  .bottom-left {
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
  }
  .bottom-left1 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
  }

  .container1 {
    position: relative;
    max-width: 408px; /* Maximum width */
    max-height: 286px;
  }
  
  .container1 .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 68px; /* Some padding */
  }

  .container2 {
    position: relative;
    max-width: 500px; /* Maximum width */
  }
  
  .container2 .content1 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    border-radius: 10px;
  }

  .container3 {
    position: relative;
    width: 100%;
    max-width: 350px;
  }
  
  /* Make the image to responsive */
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container3:hover .overlay {
    opacity: 1;
  }

  .jumbotron {
    background-image: url(../img/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }